@charset:utf-8;

*{
	box-sizing: border-box;
}

.container{
	width: 1080px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: #181818;
}

ul{
	list-style-type: none;
}

.header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.gnb{
	display: flex;
}

li{
	margin-right: 20px;
	line-height: 30px;
}

.header>.gnb>li:last-child{
	margin-right: 50px;
}

.landing{
	/*background-image: url("jump-up.png");*/
	text-align: center;
	background-color: #4b42be;
}
